# Gitignore File

# Windows Terminal
/windows-terminal/background_picture.jpg


/bin/

*.exe

# In the Buildtools Folder
buildtools/GitIgnore-Adder/
buildtools/Path-Viewer/
buildtools/linksaver/
buildtools/script-creator/
buildtools/sx/
buildtools/tools/
imgui.ini
