<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0.0;url=https://shadowdara.github.io/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tauri Website App</title>
  </head>

  <body>
    <main class="container">
      <h1>You will be redirected now!</h1>
      <a href="https://github.com/ShadowDara/Collection/tree/main/tauri-website-app-template" target="_blank">
          More Infos on Github
      </a>
    </main>
  </body>
</html>
